* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f4f6;
  font-size: 18px;
}
.cv-file {
  min-height: 1123px;
  width: 794px;
  margin: 24px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 24px;
}
@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }
  .cv-file {
    box-shadow: none;
  }
  button {
    display: none;
  }
}
